.creator-container{
   display: grid;
   grid-template-columns: auto auto;
   padding: 0px 2em;
   margin-bottom: 4em;
   column-gap: 1em;
   row-gap: 3em;
}

.title{
   margin: 100px auto;
   text-align: center;
}