.container{
   display: grid;
   grid-template-columns: auto auto;
   text-align: center;
   padding: 0px 2em;
   margin: auto 4em;
   column-gap: 1em;
}

.container img{
   width: auto;
   height: 400px;
   /* margin: auto; */
   display: block;
   border: rgb(81, 133, 180) solid 2px;
}

.icon:hover{
   cursor: pointer;
}


.info-container{
   text-align: left;
   margin-right: 10em;
}

.info-container h2{
   font-size: 3em;
   margin: 0;
}

.info-container p{
   font-size: 1.5em;
   margin: 0;
}

.modify{
   margin: 3em auto;
}

.modify button{
   margin: auto 7em;
   width: 7em;
   height: auto;
   font-size: larger;
   border-radius: 5px;
   padding: 1em;
   background-color: rgb(81, 133, 180);
   border: none;
}

.modify .delete{
   background-color: rgb(180, 81, 81);
}