.Card{
   display: grid;
   grid-template-columns: auto auto 100px;
   background-color: #242424;
   border: rgb(83, 143, 196) solid 2px;
   margin: 0 10px;
   padding: 5px;
}

img{
   margin: auto;
   padding: 2em;
   width: 15em;
   height: auto;
   object-fit:scale-down;
}

.utility{
   display: grid;
   grid-template-rows: auto auto;
   align-content: center;
}

.icon{
   font-size:20px;
   margin: 20px auto 20px auto;
}

.icon:hover{
   cursor: pointer;
}